
<footer>
    <div class="footer-column left">
        <img src="{{ url_for('static', filename='web_images/logo2.png') }}" alt="Logo de la empresa" class="footer-logo">
    </div>
    <div class="footer-column center">
        <p>D&T - Desarrollo y Tecnología</p> <br>        
        <p>Desarrollado por Pablo Flores</p> 
    </div>
    <div class="footer-column right">
        Ingeniería, Construcción, Equipos e Insumos para tratamiento de Aguas. <br>
        Vaiprocess todos los derechos reservados | 2024
    </div>
</footer>
