

<div class="module">
    <h2 class="toggle">Usuarios</h2>
    <ul class="toggle-content">
        <li><a href="{{ url_for('cargar_usuario') }}">Cargar Usuario</a></li>
        <li><a href="#">Modificar Usuario</a></li>
        <li><a href="#">Eliminar Usuario</a></li>
        <li><a href="#">Habilitar o Deshabilitar Usuario</a></li>
    </ul>
</div>
<div class="module">
    <h2 class="toggle">Plantas</h2>
    <ul class="toggle-content">
        <li><a href="#">seleccionar Planta</a></li>
        <li><a href="#">Agregar Planta</a></li>
        <li><a href="#">Eliminar Planta</a></li>
    </ul>
</div>
<div class="module">
    <h2 class="toggle">Sensores</h2>
    <ul class="toggle-content">
        <li><a href="#">Ver Sensores</a></li>
        <li><a href="#">Descargar Datos de Sensor</a></li>
        <li><a href="#">Agregar Sensor</a></li>
        <li><a href="#">Eliminar Sensor</a></li>
        <li><a href="#">Vincular sensor a planta</a></li>
        <li><a href="#">Desvincular sensor de Planta</a></li>
    </ul>
</div>
<div class="module">
    <h2 class="toggle">Actuadores</h2>
    <ul class="toggle-content">
        <li><a href="#">Agregar Actuador</a></li>
        <li><a href="#">Eliminar Actuador</a></li>
    </ul>
</div>
