<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VAIPROCESS</title>
  <link rel="stylesheet" href="">
</head>

<!-- Inicio del Body -->
<body>
  <!-- Inicio del Header -->
  <header>
    <div class="header-column">
      <div class="logo">Logo</div>
    </div>
    <div class="header-column center">
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Quienes Somos</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Catálogos</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-column">
      <div class="login"><a href="#">Iniciar sesión</a></div>
    </div>
  </header>

  <!-- Inicio del Main -->
  <main>

    <!-- Sección de Bienvenida -->
    <div class="cabecera" id="inicio" style="display: flex; gap: 20px;">
      <!-- Parte Izquierda: TExto -->
      <div class="cabecera-derecha">
        <h4>VAI PROCESS</h4>
        <h2>Ingeniería, Construcción, Equipos e Insumos para tratamiento de Aguas.</h2> 
      </div>

      <!-- Parte Derecha: Imagen -->
      <div class="cabecera-izquierda">
        <img src="app\static\web_images\bienvenida.jpg" alt="Logo de VAI Process" class="rounded-photo">
      </div>
    </div>


    <!--Seccion acerca de nosotros / quienes somos-->
    <div class="section" id="quienes" style="display: flex; gap: 20px;">
      <div class="photo">
        <img src="fotos/FOTO ACERCA.jpg" alt="Foto de la empresa" class="rounded-photo">
      </div>
      <div class="text">
        <h4>Quienes Somos</h4>
        <h2><strong>VAI Process</strong> </h2>
        <p>
          Somos una empresa de ingeniería y construcción especializada en el tratamiento de aguas.
          Proveemos equipos, insumos y sistemas de purificación y acondicionamiento de agua para aplicaciones domiciliarias,
          comerciales e industriales, desarrollando soluciones específicas para cada caso.
        </p>
        <p>
          Entre nuestros productos y servicios, se incluyen plantas de ósmosis, plantas potabilizadoras, tratamiento de agua para
          torres de enfriamiento, sistemas de filtración, sistemas ultravioletas, sistemas de dosificación, instrumentación,
          resinas de intercambio iónico, mantenimiento, limpieza y desinfección de estanques de agua potable, análisis de
          laboratorio certificado, entre otros.
        </p>
      </div>
    </div>
    

    <!-- Sección de Servicios -->
    <section class="section" id="servicios">
      <h2>Nuestros Servicios</h2>

      <!-- Servicio 1   Tratamientos de olores --> 
      <div class="servicios"></div>

      <!-- Servicio 2   Tratamiento de agua--> 
      <div class="servicios"></div>

      <!-- Servicio 3    Impermeabilizacion y revestimiento--> 
      <div class="servicios"></div>

      <!-- Servicio 4    Obras Civiles--> 
      <div class="servicios"></div>
      

      <!-- Subservicios que deben ir dentro de los servicios principales -->
      <div>
        <!-- Servicio 1 -->
      <div class="servicio">
        <div class="servicio-foto">
            <img src="fotos/servicio1.png" alt="Tratamientos de olores">
        </div>
        <div class="servicio-descripcion">
            <h3>Tratamientos de olores</h3>
            <ul>
              <li>Productos Químicos // EliminOdor.</li>
              <li>Equipos de Neutralización por aspersión.</li>
              <li>Equipos de Neutralización automáticos por control de variables (Viento, Velocidad, Dirección, Tiempo).</li>
          </ul>
        </div>
    </div>

    <!-- Servicio 2 -->
    <div class="servicio">
        <div class="servicio-descripcion">
            <h3>Obras Civiles</h3>
            <ul>
              <li>Bodegas</li>
              <li>Galpones</li>
              <li>Rádieres y Losas</li>
              <li>Estructuras en Metal</li>
              <li>Construcción de canchas deportivas</li>
          </ul>
        </div>
        <div class="servicio-foto">
          <img src="fotos/servicio2.png" alt="Obras Civiles">
      </div>
    </div>

    <!-- Servicio 3 -->
    <div class="servicio">
        <div class="servicio-foto">
            <img src="fotos/servicio3.png" alt="Tratamientos de Aguas">
        </div>
        <div class="servicio-descripcion">
            <h3>Tratamientos de Aguas</h3>
            <ul>
              <li>Lavado Químico Torres de enfriamiento y condensadores.</li>
              <li>Mantención, Reparación y venta de Ablandadores y filtros.</li>
              <li>Porta filtros y filtros cartuchos.</li>
              <li>Operación y Control de Plantas de Agua Potable, RILes y Aguas Servidas.</li>
          </ul>
        </div>
    </div>

    <!-- Servicio 4 -->
    <div class="servicio">
        <div class="servicio-descripcion">
            <h3>Impermeabilización y Revestimientos</h3>
            <ul>
              <li>Resinas Autonivelantes.</li>
              <li>Impermeabilización líquida en frío.</li>
              <li>Poliureas para sistemas de protección.</li>
              <li>Impermeabilización proyectados en caliente.</li>
              <li>Acabado alifático para sistemas de impermeabilización.</li>
          </ul>
        </div>
        <div class="servicio-foto">
          <img src="fotos/servicio4.jpg" alt="Impermeabilización y Revestimientos">
      </div>
    </div>

    <!-- Servicio 5 -->
    <div class="servicio">
        <div class="servicio-foto">
            <img src="fotos/servicio5.1.webp" alt="Ablandadores de Agua">
        </div>
        <div class="servicio-descripcion">
            <h3>Ablandadores de Agua</h3>
            <ul>
              <li>Tanques de polipropileno reforzado en fibra de vidrio (PRFV).</li>
              <li>Resina de intercambio iónico.</li>
              <li>Cabezal de control automático, con regeneración por tiempo o caudal.</li>
              <li>Tanque y válvula de salmuera de polipropileno.</li>
          </ul>
        </div>
    </div>

    <!-- Servicio 6 -->
    <div class="servicio">
        <div class="servicio-descripcion">
            <h3>Filtros Automáticos</h3>
            <ul>
              <li>Filtro Multimedia.</li>
              <li>Filtro Greensand.</li>
              <li>Filtro Carbón Activado.</li>
              <li>Filtro Remoción Arsénico.</li>
              <li>Filtro Remoción Nitrato.</li>
          </ul>
        </div>
        <div la="servicio-foto">
          <img src="fotos/servicio6.png" alt="Filtros Automáticos">
      </div>
    </div>

    <!-- Servicio 7 -->
    <div class="servicio">
        <div la="servicio-foto">
            <img src="fotos/servicio7.2.jpeg" alt="Osmosis Inversa">
        </div>
        <div la="servicio-descripcion">
            <h3>Osmosis Inversa</h3>
            <ul>
              <li>Interruptores de baja y alta presión.</li>
              <li>Válvula solenoide.</li>
              <li>Bomba de alta presión.</li>
              <li>Membranas y porta-membranas.</li>
              <li>Tablero de protección de motor.</li>
          </ul>
        </div>
    </div>

    <!-- Servicio 8 -->
    <div class="servicio">
        <div la="servicio-descripcion">
            <h3>Filtros y Membranas</h3>
            <ul>
              <li>Filtros de polipropileno.</li>
              <li>Filtros de carbón activado.</li>
              <li>Filtros rellenables y carcasas.</li>
              <li>Membranas para osmosis inversa.</li>
              <li>Llaves para carcasa y clips.</li>
          </ul>
        </div>
        <div la="servicio-foto">
          <img src="fotos/servicio8.1.jpeg" alt="Filtros y Membranas">
      </div>
    </div>

    <!-- Servicio 9 -->
    <div class="servicio">
        <div la="servicio-foto">
            <img src="fotos/servicio9.1.webp" alt="Bombas Dosificadoras">
        </div>
        <div la="servicio-descripcion">
            <h3>Bombas Dosificadoras</h3>
            <ul>
              <li>Bombas electromagnéticas con dosificación constante.</li>
              <li>Bombas de funcionamiento proporcional, sin electricidad.</li>
              <li>Dosificación homogénea y exacta.</li>
          </ul>
        </div>
    </div>
      </div>
      

    </section>

    <!-- Seccion de catálogos -->
    <section class="section" id="catalogos" style="padding: 20px; background-color: #f9f9f9;">
    
      <!-- Título de la Sección -->
      <div class="catalogos-titulo" style="text-align: center; margin-bottom: 20px;">
        <h2>Catálogos</h2>
      </div>
      
      <!-- Contenedor de los Catálogos -->
      <!-- catalogo 1 -->
      <div class="catalogos-contenedor"></div>
      <!-- catalogo 2 -->
      <div class="catalogos-contenedor"></div>
      <!-- catalogo 3 -->
      <div class="catalogos-contenedor"></div>
      <!-- catalogo 4 -->
      <div class="catalogos-contenedor"></div>
    
    </section>


    <!-- Sección de Contacto -->
    <section class="section" id="contacto" style="padding: 20px; background-color: #f9f9f9;">
    
      <!-- Título de la Sección -->
      <div class="contacto-titulo" style="text-align: center; margin-bottom: 20px;">
        <h2>Contacto</h2>
      </div>

      <!-- Contenedor para la Información de Contacto y el Formulario -->
      <div style="display: flex; justify-content: space-between; align-items: center;">

        <!-- Información de Contacto -->
        <div class="contacto-info" style="flex-basis: 40%; text-align: center;">
          <h3>Información de Contacto</h3>
          <p><strong>Dirección:</strong> Av. Alonso de Córdova 58710, Las Condes</p>
          <p><strong>Correo Electrónico:</strong> ventas@vaiprocess.cl</p>
          <p><strong>Teléfono:</strong> +56 9 7554 1835</p>
        </div>

        <!-- Formulario de Contacto -->
        <div class="contacto-formulario" style="flex-basis: 55%;">
          <h3>Solicita Información</h3>
          <form action="#" method="post">
            <!-- Nombre y Apellido en la misma línea -->
            <div style="display: flex; gap: 10px;">
              <div style="flex-basis: 50%;">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required>
              </div>
              <div style="flex-basis: 50%;">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" placeholder="Tu apellido" required>
              </div>
            </div>
        
            <!-- Empresa y Teléfono en la misma línea -->
            <div style="display: flex; gap: 10px; margin-top: 10px;">
              <div style="flex-basis: 50%;">
                <label for="empresa">Empresa:</label>
                <input type="text" id="empresa" name="empresa" placeholder="Tu empresa">
              </div>
              <div style="flex-basis: 50%;">
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono" placeholder="Tu teléfono">
              </div>
            </div>
        
            <!-- Campo para el Correo Electrónico -->
            <div>
              <label for="correo-electronico">Correo Electrónico:</label>
              <input type="email" id="correo-electronico" name="correo-electronico" placeholder="Tu correo electrónico" required>
            </div>
        
            <!-- Campo para el Mensaje -->
            <div>
              <label for="mensaje">Mensaje:</label>
              <textarea id="mensaje" name="mensaje" placeholder="Tu mensaje" required></textarea>
            </div>
        
            <!-- Botón para enviar el formulario -->
            <button type="submit">Enviar</button>
          </form>
        </div>    
        
      </div>
    
    </section>


  </main>

  <!-- Pie de Página -->
  <footer>
    <p>© 2024 Mi Empresa. Todos los derechos reservados.</p>
  </footer>
</body>

</html>
